      <nav class="navbar-fixed-top navbar-expand-lg navbar-light bg-ligh">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li>
                    <a class="nav-link" href="{% url 'customer list' %}">Manage Customers</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'trucker list' %}">Manage Truckers</a>
                </li>
            </ul>
         </div>
      </nav>