{% extends 'shared/site.html' %}

{% block site_content %}
    {% include 'partials/sub_nav.html' %}
    <h1>Details for Customer{{ customer.customer_name }}</h1>
        <ul>
            <li>Country: {{ customer.country.name }}</li>
            <li>Billing Address:{{ customer.billing_address }}</li>
            <li>Mark-up: {{ customer.mark_up }} € per transport </li>
        </ul>
    <h2> Warehouses</h2>

        <div class="box">
            <form method="post" action="{% url 'customer details' customer.pk %}">
                {{ form.warehouse_address.label }}
                {{ form.warehouse_address }}
                {{ form.country.label }}
                {{ form.country }}
                {{ form.ramp_on_site.label }}
                {{ form.ramp_on_site }}
                {% csrf_token %}
                <button class="btn btn-primary mt-2" type="submit">Add Warehouse</button>
            </form>
        </div>
        <div>
        ---
        </div>

    <table style="width:100%"  class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Warehouse Address</th>
                <th scope="col">Country</th>
                <th scope="col">Has Ramp?</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouse_list %}
              <tr>
                <th>{{ warehouse.warehouse_address }}</th>
                <th>{{ warehouse.country.name}}</th>
                <th>{{ warehouse.ramp_on_site}}</th>
                <th scope="col">
                    <a href="{% url 'warehouse details' warehouse.id %}" class="btn btn-info">Details</a>
                    <a href="" class="btn btn-warning">Update</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </th>
              </tr>
{% endfor %}
            </tbody>
    </table>




{% endblock %}