{% extends 'shared/site.html' %}

{% block site_content %}
    {% include 'partials/sub_nav.html' %}
    <form method="post">
        {{ form.customer_name.label }}
        {{ form.customer_name }}
        {{ form.billing_address.label }}
        {{ form.billing_address }}
        {{ form.country.label }}
        {{ form.country }}
        {{ form.mark_up.label }}
        {{ form.mark_up }}
        {% csrf_token %}
        <button class="btn btn-primary mt-2" type="submit">Create</button>
    </form>

{% endblock %}