{% extends 'shared/site.html' %}

{% block site_content %}

{#    <form method="get" action="{% url 'offer list view' %}">#}
{#        {{ filter_form }}#}
{#        {% csrf_token %}#}
{#        <button>Filter</button>#}
{#    </form>#}
    <table style="width:100%; font-size: small"  class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Customer</th>
                <th scope="col">Warehouse Location</th>
                <th scope="col">Direction</th>
                <th scope="col">Seaport</th>
                <th scope="col">Trucker</th>
                <th scope="col">Rate</th>
                <th scope="col">Mark-Up</th>
                <th scope="col">From:</th>
                <th scope="col">To:</th>
                <th scope="col">Quote by:</th>
            </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
              <tr>
                <th scope="row">{{ rate.request.warehouse.customer_company.customer_name }}</th>
                <th>{{ rate.request.warehouse.warehouse_address }}</th>
                <th>{{ rate.request.direction  }}</th>
                <th>{{ rate.request.seaport.un_location_code }}</th>
                <th>{{ rate.trucker.trucker_name }}</th>
                <th>{{ rate.rate }} €</th>
                <th>{{ rate.request.warehouse.customer_company.mark_up }}</th>
                <th>{{ rate.valid_from }}</th>
                <th>{{ rate.valid_from }}</th>
                <th>{{ rate.user.username }}</th>
              </tr>
{% endfor %}
            </tbody>
    </table>
{% endblock %}
