{% extends 'shared/site.html' %}

{% block site_content %}
    {% include 'partials/sub_nav.html' %}
    <form method="post" action="{% url 'request update' request.id %}" class="furniture-form">
        <div style="float: left; margin: 15px">
            {{ form.warehouse.label}}
            {{ form.warehouse }}
            {{ form.direction.label }}
            {{ form.direction }}
            {{ form.seaport.label }}
            {{ form.seaport }}
        </div>
        {% csrf_token %}
        <div style="float: right; margin: 15px">
            <button class="btn btn-primary mt-2" type="submit">Submit changes</button>
        </div>

    </form>

{% endblock %}