{% extends 'shared/site.html' %}

{% block site_content %}{% include 'partials/sub_nav.html' %}
    <h3>Are you sure you want to remove this request for the warehouse location
        {{ transportrequest.warehouse.warehouse_address }}?</h3>
    <h3> For customer {{transportrequest.warehouse.customer_company.customer_name}}</h3>

    <form method="POST" action="{% url 'request delete' request.pk %}">
        {{ form }}
        {% csrf_token %}
        <button class="btn btn-primary mt-2" type="submit">Delete</button>
            <a class="btn btn-primary mt-2" href="javascript:history.back()">No, go back</a>
    </form>


{% endblock %}