{% extends 'shared/site.html' %}

{% block site_content %}
    {% include 'partials/sub_nav.html' %}
    <h1>{{ current_request }}</h1>
    <ul>
    <li>
         <a>Initiated by: {{ current_request.user.username }}</a>
    </li>
    </ul>
    <a href="" class="btn btn-warning">Update</a>
    <a href="" class="btn btn-danger">Delete</a>
    <h2> Add Offer:</h2>

        <div class="box">
            <form method="post" action="{% url 'request details' current_request.pk %}">
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-primary mt-2" type="submit">Quote Request</button>
            </form>
        </div>
        <div>
        ---
        </div>

    <table style="width:100%"  class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Trucker</th>
                <th scope="col">Cost</th>
                <th scope="col">Valid From</th>
                <th scope="col">Valid To</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offer_list %}
              <tr>
                <th>{{ offer.trucker}}</th>
                <th>{{ offer.rate}}</th>
                <th>{{ offer.valid_from}}</th>
                <th>{{ offer.valid_to}}</th>
                <th scope="col">
                    <a href="" class="btn btn-info">Details</a>
                </th>
              </tr>
{% endfor %}
            </tbody>
    </table>




{% endblock %}