{% extends 'shared/site.html' %}

{% block site_content %}
    {% include 'partials/sub_nav.html' %}
    <h1>Warehouse location: {{ current_warehouse.warehouse_address }}</h1>
        <ul>
            <li>Customer: {{ current_warehouse.customer_company.customer_name }}</li>
            <li>Ramp {{ current_warehouse.ramp_on_site }}</li>
            <li>Country: {{ current_warehouse.country }}</li>
            <li>Created by: {{ current_warehouse.user.username }}</li>
            {% if can_manipulate %}
                <a href="{% url 'warehouse update' current_warehouse.id %}" class="btn btn-warning">Update</a>
            {% endif %}
            {% if can_manipulate %}
                <a href="{% url 'warehouse delete' current_warehouse.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </ul>
    {% if can_manipulate %}
    <h2> Quote Requests</h2>
        <div class="box">
            <form method="post" action="{% url 'request create' current_warehouse.id %}">
                {{ form }}
                {% csrf_token %}
                <button class="btn btn-primary mt-2" type="submit">Add Transport Request</button>
            </form>
        </div>
    {% endif %}
        <div>
        ---
        </div>

    <table style="width:100%"  class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Seaport</th>
                <th scope="col">Direction</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for request in transport_request_list %}
              <tr>
                <th>{{ request.seaport.name}}</th>
                <th>{{ request.direction}}</th>
                <th scope="col">
                    <a href="{% url 'request details' request.id %}" class="btn btn-info">Details</a>
                </th>
              </tr>
{% endfor %}
            </tbody>
    </table>




{% endblock %}